fastapi==0.133.1
uvicorn[standard]==0.41.0
gunicorn
groq==1.0.0
python-dotenv==1.2.1
pydantic==2.12.5
xhtml2pdf==0.2.17
jinja2==3.1.6
python-multipart==0.0.22
httpx==0.28.1
motor==3.7.1
pymongo==4.16.0
pyjwt==2.11.0
bcrypt==5.0.0
pdfplumber==0.11.9
python-docx==1.2.0
slowapi==0.1.9
pytest==9.0.2
